.location {
  background-color: rgba(5, 14, 71);

  .city-state {
    color: gray;
    font-weight: light;
    text-align: right;
    padding: 5px;
  }
}

.navbar {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  padding: 5px;
  align-items: center;
  
  a {
    text-decoration: none;
  }

  img {
    background-color: transparent;
    max-width: 3%;
    max-height: 3%;
  }
  
  .title {
    font-size: 30px;
    font-weight: bold;
    color: rgba(5, 14, 71);
    
    .subtext {
      font-weight: lighter;
    }
  }
  
  .links {
    margin-left: auto;
    
    a {
      color: rgba(5, 14, 71);
      padding: 5px;
      font-size: 20px;
      text-decoration: none;
      text-align: center;
    }
  
    a:hover {
      text-decoration: line-through rgba(211, 211, 211, 0.5) 13px;
    }

    a:visited {
      color: rgba(5, 14, 71);
    }
  }
}